.footer{
    background:#0f172a;
    color:white;
    text-align:center;
    padding:40px 20px;
}

.footer h3{
    color:#38bdf8;
    margin-bottom:15px;
}

.footer p{
    margin:8px 0;
    color:#d1d5db;
}